@using HalfLink.Data
@inject LocalLinkStore LocalLinkStore
@implements IDisposable

<div>
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudDivider Class="my-2" />
        @foreach (var link in localLinks)
        {
            <MudTooltip Text="@link.FullLink" Arrow="true" Placement="Placement.Right">
                <MudNavLink Href="@($"/l/{link.HalfLink}/stats")"
                            Match="NavLinkMatch.All"
                            Style="max-width: 240px">
                    @link.FullLink
                </MudNavLink>
            </MudTooltip>
        }
    </MudNavMenu>
</div>

@code {

    private IReadOnlyList<Link> localLinks = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LocalLinkStore.OnLinksChanged += OnLinksChanged;
            await OnLinksChanged();
        }
    }

    private async Task OnLinksChanged()
    {
        localLinks = await LocalLinkStore.GetLocalLinks();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        LocalLinkStore.OnLinksChanged -= OnLinksChanged;
    }
}
